@tailwind base;

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #91563B transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #91563B;
    border: 5px solid transparent;
    border-radius: 10px;
}

@tailwind components;
@tailwind utilities;
